 

@font-face {

font-family: "la la";

src: url("fonts/la la.eot");

src: url("fonts/la la.eot#iefix") format("embedded-opentype"),

url("fonts/la la.woff") format("woff"),

url("fonts/la la.ttf") format("truetype"),

url("fonts/la la.svg") format("svg");

font-weight: normal;

font-style: normal;

}

[class^="la la-"]:before, [class*=" la la-"]:before,

[class^="la la-"]:after, [class*=" la la-"]:after {   

font-family: "la la";

font-size: 20px;

font-style: normal;

margin-left: 20px;

}

.la la-basic21:before {

content: "\e000";

}

.la la-bicycle21:before {

content: "\e001";

}

.la la-car6:before {

content: "\e002";

}